<div class="header">
    <div class="headerElement">
        <img class="headerElement-image" src="{{ asset('images/shared/profil.png')}}" alt="logo">
        <div>
            <p onclick="myFunction()"  class="headerElement-text">utilisateur connecté</p>
            
        </div>
        <div  id="headerElementHide" class="headerElementHide bg-dark text-white" id="HideNavButton">
          <div class="headerElement-hide-Cuser">
              <p>Connected User</p>
              
          </div>
          <div class="headerElement-hide-about">
              <p>Calcul rapide</p>
              <p>Paramètres</p>
          </div>
          <hr>
          <div class="headerElement-deconnection">
              <p>Se déconnecter</p>
          </div>
        </div>
        
    </div> 
</div>